{% extends 'forum/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
  <h2 class="card-header">Forgotten your password?</h2>
  <br>
  <div class="card-body text-left">
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
      {{ form.as_p }}
      <button class="btn btn-outline-secondary btn-sm" type="submit">Send e-mail</button>
      <a href="{% url 'home' %}" class="btn-outline-secondary btn-sm">Back to Homepage</a>
      {% csrf_token %}
    </form>
  </div>
{% endblock content %}