@import url('https://fonts.googleapis.com/css?family=Abhaya%20Libre');
@import url('https://fonts.googleapis.com/css?family=Over%20the%20Rainbow');

.font {
    font-family: 'Over the Rainbow';
}
.font2 {
    font-family: Abhaya Libre;
}
.done {
    text-decoration: line-through;
}