<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Workers</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!--Bulma to darmowy framework CSS3 oparty o Flexbox, jest bardzo mały i lekki a zarazem posiada wiele różnych elementów-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <!--Vue to progresywna struktura do tworzenia interfejsów użytkownika-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!--Axios byl juz na zajeciach, wiec jest dobrze znany-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <!--Fontawasome to strona posiadająca ikony wektorowe-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3c7b8;">
        <a class="navbar-brand" href="{% url 'home' %}">Thumbnailer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'workers' %}">Division</a>
            </li>
          </ul>
        </div>
      </nav>
      <br><br><br>
      <div class="card text-center" style="margin: 0 auto; width: 60%;">
        <div class="card-header" style="font-size: 150%;">
          Examples with Celery Workers
        </div>
        <div class="card-body">
          <br>
          1. Simple division:
          <br><br>
          <form action="{% url 'results' %}" method="POST" style="width: 40%; margin: auto;" >
            {% csrf_token %}
            <div class="form-group">
              <label for="x">x:</label>
              <input type="float" class="form-control" name="x" required>
            </div>
            <div class="form-group">
              <label for="y">y:</label>
              <input type="float" class="form-control" name="y" required>
            </div>
            <button type="submit"class="btn btn-secondary btn-sm">Calculate</button>
          </form>
          <br><br>
        </div>
    </div>
<!--Skrypty z Bootsrapa-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>