.font1 {
    font-family: 'Gotu';
}
.font2 {
    font-family: 'Allura';
}
.header {
    background-color: #e6b3cc;
    overflow: hidden;
}
#name {
    font-size: 50px;
    font-weight: bolder;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
.header a:hover {
    color: #f9ecf2;
}
.content {
    margin-left: 40px;
    overflow: hidden;
}
.date {
    color: #d279a6;
    margin-top: 30px;
}
.save {
    float: right;
}
.post {
    margin-bottom: 50px;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.edit {
    float:right;
}
.post h1, .post a {
    color: #ac3973;
    font-weight: bold;
}


