{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  
  <h1 class="card-header">Homepage</h1>
  <div class="card-body text-center">
    {% if user.is_authenticated %}
      <p>Welcome back, {{ user.username }}!!!</p>
      <a href="{% url 'logout' %}" class="btn-outline-secondary btn-sm">Log Out</a>
      <a href="{% url 'password_change' %}" class="btn-outline-secondary btn-sm">Change password</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}" class="btn-outline-secondary btn-sm">Log In</a>
      <a href="{% url 'signup' %}" class="btn-outline-secondary btn-sm">Sign Up</a>
    {% endif %}
  </div>

  {% endblock content %}